<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secretKey</key>
	<string>Yv9xucS2diFV9n3Tlmzn0GRSZFarNZFylZBqkO3fqNJpN9Kpp4</string>
	<key>consumerKey</key>
	<string>PM7JmewRv3Vk9xCE7qXy3wrh4</string>
</dict>
</plist>
